
<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Users</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="vendor/animate/animate.css">

		<link rel="stylesheet" href="vendor/font-awesome/css/all.min.css" />
		<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="css/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="css/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="css/custom.css">

		<!-- Head Libs -->
		<script src="vendor/modernizr/modernizr.js"></script>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="/dashboard" class="logo">
						<img src="img/snj_logo.png" width="100" height="35" alt="Porto Admin" />
					</a>
					<div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fas fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">
			
					
			
					<span class="separator"></span>
			
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="img/!logged-user.jpg" alt="Joseph Doe" class="rounded-circle" data-lock-picture="img/!logged-user.jpg" />
							</figure>
							<div class="profile-info" data-lock-name="admin" data-lock-email="admin@epnox.com">
									<span class="name"><%= admin.name %></span>
									<span class="role"><%= admin.level %></span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled mb-2">
								<li class="divider"></li>
								<li>
									<!-- <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fas fa-user"></i> My Profile</a> -->
								</li>
								<li>
									<!-- <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fas fa-lock"></i> Lock Screen</a> -->
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="/logout"><i class="fas fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
				    <div class="sidebar-header">
				        <div class="sidebar-title">
				            Navigation
				        </div>
				        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
				            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
				        </div>
				    </div>
				
				    <div class="nano">
							<div class="nano-content">
								<nav id="menu" class="nav-main" role="navigation">
								
									<ul class="nav nav-main">
										<li>
											<a class="nav-link" href="/dashboard">
												<i class="fas fa-home" aria-hidden="true"></i>
												<span>Dashboard</span>
											</a>                        
										</li>
										
										<li class="">
											<a class="nav-link" href="/admin">
												<i class="fas fa-chalkboard-teacher" aria-hidden="true"></i>
												<span>Admin</span>
											</a>										
										</li>

										<li class="">
											<a class="nav-link" href="/news">
												<i class="fas fa-copy" aria-hidden="true"></i>
												<span>News</span>
											</a>
										</li>
											
										<li class="nav-active">
											<a class="nav-link" href="/user">
												<i class="fas fa-user" aria-hidden="true"></i>
												<span>Users</span>
											</a>											
										</li>

										<li class="">
											<a class="nav-link" href="/pointHistory">
												<i class="fas fa-coins" aria-hidden="true"></i>
												<span>Point history</span>
											</a>
										</li>
											
										<li class="">
											<a class="nav-link" href="/voucher">
												<i class="fas fa-dollar-sign" aria-hidden="true"></i>
												<span>Vouchers</span>
											</a>
										</li>
				                    
										<li class="">
											<a class="nav-link" href="/setup">
												<i class="fas fa-cog" aria-hidden="true"></i>
												<span>Setup</span>
											</a>
										</li>   
											
									</ul>
								</nav>
					
							</div>
					
							<script>
								// Maintain Scroll Position
								if (typeof localStorage !== 'undefined') {
									if (localStorage.getItem('sidebar-left-position') !== null) {
										var initialPosition = localStorage.getItem('sidebar-left-position'),
											sidebarLeft = document.querySelector('#sidebar-left .nano-content');
										
										sidebarLeft.scrollTop = initialPosition;
									}
								}
							</script>
							
					
						</div>
				
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body card-margin">
					<header class="page-header">
						<h2>User</h2>
					
						<div class="right-wrapper text-right">
							<ol class="breadcrumbs">
								<li>
									<a href="/dashboard">
										<i class="fas fa-home"></i>
									</a>
								</li>
								<li><span>Details</span></li>
								<li><span>User</span></li>
							</ol>
					
							<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
						</div>
					</header>

					<!-- start: page -->
					<div class="row">
							<div class="col">
								<!-- <form id="form" action="/updateNewsDetails" method="POST" class="form-horizontal"> -->
									<section role="main">
										<header class="page-header">
											<h2>News Details</h2>
										
											<div class="right-wrapper text-right">
												<ol class="breadcrumbs">
													<li>
														<a href="/dashboard">
															<i class="fas fa-home"></i>
														</a>
													</li>
													<li><span>News</span></li>
													<li><span>Details</span></li>
												</ol>
										
												<!-- <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a> -->
											</div>
										</header>
										<div class="row">
											<div class="col">
												<form id="form" action="/updateUserDetails" method="POST" class="form-horizontal">
													<section class="card">
														<header class="card-header">
															<div class="card-actions">
																<!-- <a href="#" class="card-action card-action-toggle" data-card-toggle></a> -->
																<!-- <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a> -->
															</div>
					
															<h2 class="card-title">User Details</h2>
															<!-- <p class="card-subtitle"> -->
																<!-- Basic validation will display a label with the error after the form control. -->
															<!-- </p> -->
														</header>
															<div class="card-body">
																	<!-- <div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="inputDisabled">ID</label>
																		<div class="col-lg-6">
																			<input class="form-control" id="inputDisabled" type="text" placeholder="Disabled input here..." readonly>
																		</div>
																	</div> -->

																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="userId">ID</label>
																		<div class="col-lg-6">
																			<input class="form-control" name="userId" readonly value="<%= users.userId %>">
																		</div>
																	</div>

																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="alternateLookup">Alternate Lookup</label>
																		<div class="col-lg-6">
																			<input class="form-control" name="alternateLookup" readonly value="<%= users.alternateLookup %>">
																		</div>
																	</div>

																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="code">Code</label>
																		<div class="col-lg-6">
																			<input class="form-control" name="code" readonly value="<%= users.code %>">
																		</div>
																	</div>
						
																	<div class="form-group row" >
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="phoneNumber">Phone Number</label>
																		<div class="col-lg-6">
																			<input type="text" class="form-control"  name="phoneNumber"  id="phoneNumber" value="<%= users.phoneNumber %>">												
																		</div>
																	</div>
																	
																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="status">Status</label>
																		<div class="col-lg-6">
																			<input type="text" class="form-control" name="status" id="status" value="<%= users.status %>">
																		</div>
																	</div>
																	
																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="firstName">First name</label>
																		<div class="col-lg-6">
																			<input type="text" class="form-control" name="firstName" id="firstName" value="<%= users.firstName %>">
																		</div>
																	</div>
																	
																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="lastName">Last name</label>
																		<div class="col-lg-6">
																			<input type="text" class="form-control" name="lastName" id="lastName" value="<%= users.lastName %>">
																		</div>
																	</div>
																	
																	<div class="form-group row">
																			<label class="col-lg-3 control-label text-lg-right pt-2" for="ic">IC</label>
																			<div class="col-lg-6">
																				<input type="text" class="form-control" name="ic" id="ic" value="<%= users.ic %>">
																			</div>
																	</div>
												
																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="dob">Date of birth</label>
																		<div class="col-lg-6">
																			<input type="date" class="form-control" name="dob" id="dob" value="<%= users.dob %>">
																		</div>
																	</div>
												
																
																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="gender">Gender</label>
																		<div class="col-lg-6">
																			<input type="radio" name="gender" value="male" <%- users.gender == "male" ? checked="checked" : "" %> >Male <br>
																			<input type="radio" name="gender" value="female" <%- users.gender == "female" ? checked="checked" : "" %> >Female
																		</div>
																	</div>
									
																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="maritalStatus">Marital Status</label>
																		<div class="col-lg-6">
																			<!-- <input class="form-control" id="inputFocus" type="text" > -->
																			<input type="radio" name="maritalStatus" value="married" <%- users.maritalStatus == "married" ? checked="checked" : "" %> >Married <br>
																			<input type="radio" name="maritalStatus" value="single" <%- users.maritalStatus == "single" ? checked="checked" : "" %> >Single <br>
																		</div>
																	</div>
												
																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="race">Race</label>
																		<div class="col-lg-6">
																			<input type="radio" name="race" value="malay" <%- users.race == "malay" ? checked="checked" : "" %> >Malay <br>
																			<input type="radio" name="race" value="chinese" <%- users.race == "chinese" ? checked="checked" : "" %> >Chinese <br>
																			<input type="radio" name="race" value="indian" <%- users.race == "indian" ? checked="checked" : "" %> >Indian <br>
																			<input type="radio" name="race" value="other" <%- users.race == "other" ? checked="checked" : "" %> >Other <br>
																		</div>
																	</div>
												
																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="street">Address</label>
																		<div class="col-lg-6">
																			<input type="text" class="form-control" name="street"  id="street" value="<%= users.street %>">
																		</div>
																	</div>
												
																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="city">City</label>
																		<div class="col-lg-6">
																			<input type="text" class="form-control" name="city" id="city" value="<%= users.city %>">
																		</div>
																	</div>
												
																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="state">State</label>
																		<select  name="state" class="col-lg-6  form-control mb-3" required>
																			<option disabled selected value=""> -- select an option -- </option>
																			<option value="Johor" <%- users.state == "Johor" ? selected="selected" : "" %> >Johor</option>
																			<option value="Kedah" <%- users.state == "Kedah" ? selected="selected" : "" %> >Kedah</option>
																			<option value="Kelantan" <%- users.state == "Kelantan" ? selected="selected" : "" %> >Kelantan</option>
																			<option value="Labuan" <%- users.state == "Labuan" ? selected="selected" : "" %> >Labuan</option>
																			<option value="Melaka" <%- users.state == "Melaka" ? selected="selected" : "" %> >Melaka</option>
																			<option value="Negeri Sembilan" <%- users.state == "Negeri Sembilan" ? selected="selected" : "" %> >Negeri Sembilan</option>
																			<option value="Pahang" <%- users.state == "Pahang" ? selected="selected" : "" %> >Pahang</option>
																			<option value="Penang" <%- users.state == "Penang" ? selected="selected" : "" %> >Penang</option>
																			<option value="Perak" <%- users.state == "Perak" ? selected="selected" : "" %> >Perak</option>
																			<option value="Perlis" <%- users.state == "Perlis" ? selected="selected" : "" %> >Perlis</option>
																			<option value="Putrajaya" <%- users.state == "Putrajaya" ? selected="selected" : "" %> >Putrajaya</option>
																			<option value="Selangor" <%- users.state == "Selangor" ? selected="selected" : "" %> >Selangor</option>
																			<option value="Sabah" <%- users.state == "Sabah" ? selected="selected" : "" %> >Sabah</option>
																			<option value="Sarawak" <%- users.state == "Sarawak" ? selected="selected" : "" %> >Sarawak</option>
																			<option value="Terengganu" <%- users.state == "Terengganu" ? selected="selected" : "" %> >Terengganu</option>
																		</select>
																	</div>
												
																	<div class="form-group row" >
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="zipcode">Postcode</label>
																		<div class="col-lg-6">
																				<input type="text" class="form-control" name="zipcode" id="zipcode" value="<%= users.zipcode %>">												
																		</div>
																	</div>
																	
																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2" for="inputDisabled">Country</label>
																		<div class="col-lg-6">
																			<input class="form-control" id="inputDisabled" type="text" name="country" value="Malaysia" readonly>
																		</div>
																	</div>
																	
																	<div class="form-group row" >
																			<label class="col-lg-3 control-label text-lg-right pt-2" for="email">Email</label>
																			<div class="col-lg-6">
																					<input type="text" class="form-control" name="email" id="email" value="<%= users.email %>">		
																			</div>
																	</div>
						
																	<div class="form-group row" >
																			<label class="col-lg-3 control-label text-lg-right pt-2" for="occupation">Occupation</label>
																			<div class="col-lg-6">
																					<input type="text" class="form-control" name="occupation" id="occupation" value="<%= users.occupation %>">	
																			</div>
																	</div>
												
																	<div class="form-group row">
																		<label class="col-lg-3 control-label text-lg-right pt-2">File Upload</label>
																		<div class="col-lg-6">
																			<div class="fileupload fileupload-new" data-provides="fileupload">
																				<div class="input-append">
																					<div class="uneditable-input">
																						<i class="fas fa-file fileupload-exists"></i>
																						<span class="fileupload-preview"></span>
																					</div>
																					<span class="btn btn-default btn-file">
																						<span class="fileupload-exists">Change</span>
																						<span class="fileupload-new">Select file</span>
																						<input type="file" />
																					</span>
																					<a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
																				</div>
																			</div>
																		</div>
																	</div></div>
														<footer class="card-footer">
															<div class="row justify-content-end">
																<div class="col-sm-9">
																	<button class="btn btn-primary">Submit</button>
																	<br><br>
																	<!-- <button type="reset" class="btn btn-default">Reset</button> -->
																</div>
															</div>
														</footer>
													</section>
												</form>
											</div>
										</div>
									</section>
								<!-- </form> -->
							</div>
						</div>				
				
					<!-- end: page -->

					
				</section>
			</div>
			
			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close d-md-none">
							Collapse <i class="fas fa-chevron-right"></i>
						</a>
			
						<div class="sidebar-right-wrapper">
			
							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark"></div>
			
								<ul>
									<li>
										<time datetime="2017-04-19T00:00+00:00">04/19/2017</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>
			
							<!-- <div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div> -->
			
						</div>
					</div>
				</div>
			</aside>
		</section>

		<!-- Vendor -->
		<script src="vendor/jquery/jquery.js"></script>
		<script src="vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="vendor/popper/umd/popper.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.js"></script>
		<script src="vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="vendor/common/common.js"></script>
		<script src="vendor/nanoscroller/nanoscroller.js"></script>
		<script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
		<script src="vendor/jquery-placeholder/jquery.placeholder.js"></script>
		
		<!-- Specific Page Vendor -->
		<script src="vendor/autosize/autosize.js"></script>
		<script src="vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="js/theme.js"></script>
		
		<!-- Theme Custom -->
		<script src="js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="js/theme.init.js"></script>

	</body>
</html>