
<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Users </title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="vendor/animate/animate.css">

		<link rel="stylesheet" href="vendor/font-awesome/css/all.min.css" />
		<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="vendor/select2/css/select2.css" />
		<link rel="stylesheet" href="vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
		<link rel="stylesheet" href="vendor/datatables/media/css/dataTables.bootstrap4.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="css/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="css/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="css/custom.css">

		<!-- Head Libs -->
		<script src="vendor/modernizr/modernizr.js"></script>
		
		<style>
			table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			border: 1px solid #ddd;
			}
			
			th, td {
			text-align: left;
			padding: 8px;
			}
			
			tr:nth-child(even){background-color: #f2f2f2}
		</style>
	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="/dashboard" class="logo">
						<img src="img/snj_logo.png" width="100" height="35" alt="Porto Admin" />
					</a>
					<div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fas fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">
			
					
			
					<span class="separator"></span>
			
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="img/!logged-user.jpg" alt="Joseph Doe" class="rounded-circle" data-lock-picture="img/!logged-user.jpg" />
							</figure>
							<div class="profile-info" data-lock-name="admin" data-lock-email="admin@epnox.com">
								<span class="name"><%= admin.name %></span>
								<span class="role"><%= admin.level %></span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled mb-2">
								<li class="divider"></li>
								<li>
									<!-- <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fas fa-user"></i> My Profile</a> -->
								</li>
								<li>
									<!-- <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fas fa-lock"></i> Lock Screen</a> -->
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="/logout"><i class="fas fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
				    <div class="sidebar-header">
				        <div class="sidebar-title">
				            Navigation
				        </div>
				        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
				            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
				        </div>
				    </div>
				
				    <div class="nano">
							<div class="nano-content">
								<nav id="menu" class="nav-main" role="navigation">
								
									<ul class="nav nav-main">
										<li>
											<a class="nav-link" href="/dashboard">
												<i class="fas fa-home" aria-hidden="true"></i>
												<span>Dashboard</span>
											</a>                        
										</li>
										
										<li class="">
											<a class="nav-link" href="/admin">
												<i class="fas fa-chalkboard-teacher" aria-hidden="true"></i>
												<span>Admin</span>
											</a>										
										</li>

										<li class="">
											<a class="nav-link" href="/news">
												<i class="fas fa-copy" aria-hidden="true"></i>
												<span>News</span>
											</a>
										</li>
											
										<li class="nav-active">
											<a class="nav-link" href="/user">
												<i class="fas fa-user" aria-hidden="true"></i>
												<span>Users</span>
											</a>											
										</li>

										<li class="">
											<a class="nav-link" href="/pointHistory">
												<i class="fas fa-coins" aria-hidden="true"></i>
												<span>Point history</span>
											</a>
										</li>
											
										<li class="">
											<a class="nav-link" href="/voucher">
												<i class="fas fa-dollar-sign" aria-hidden="true"></i>
												<span>Vouchers</span>
											</a>
										</li>
				                    
										<li class="">
											<a class="nav-link" href="/setup">
												<i class="fas fa-cog" aria-hidden="true"></i>
												<span>Setup</span>
											</a>
										</li> 
											
									</ul>
								</nav>
					
							</div>
					
							<script>
								// Maintain Scroll Position
								if (typeof localStorage !== 'undefined') {
									if (localStorage.getItem('sidebar-left-position') !== null) {
										var initialPosition = localStorage.getItem('sidebar-left-position'),
											sidebarLeft = document.querySelector('#sidebar-left .nano-content');
										
										sidebarLeft.scrollTop = initialPosition;
									}
								}
							</script>
							
					
						</div>
				
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Users </h2>
					
						<div class="right-wrapper text-right">
							<ol class="breadcrumbs">
								<li>
									<a href="/dashboard">
										<i class="fas fa-home"></i>
									</a>
								</li>
								<li><span>Users</span></li>
								<li><span>Users</span></li>
							</ol>
					
							<!-- <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a> -->
						</div>
					</header>

					<!-- start: page -->
						<section class="card">
							<header class="card-header">
								<div class="card-actions">
									<!-- <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
									<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a> -->
								</div>
						
								<h2 class="card-title">Users</h2>
							</header>
							<div class="card-body">
								<!-- <div class="row">
									<div class="col-sm-6">
										<div class="mb-3">
											<button id="addToTable" class="btn btn-primary">Add <i class="fas fa-plus"></i></button>
										</div>
									</div>
								</div> -->
								<div style="overflow-x:auto;">
									<table class="table table-bordered table-striped mb-0" id="datatable-editable">
										
										<thead>
											<tr>
												<th>UserId</th>
												<th>Phone Number</th>
												<th>First Name</th>
												<th>Last Name</th>
												<th>Email</th>
												<th>IC</th>
												<th>Date of Birth</th>
												<th>Gender</th>
												<th>Race</th>
												<th>Status</th>
												<th>Marital Status</th>
												<th>Actions</th>
											</tr>
										</thead>
										<% for (let i=0; i<users.length; i++){%>
										<tbody>
											<tr data-item-id="1">
												<td><%= users[i].userId %></td>
												<td><%= users[i].phoneNumber %></td>
												<td><%= users[i].firstName %></td>
												<td><%= users[i].lastName %></td>
												<td><%= users[i].email %></td>
												<td><%= users[i].ic %></td>
												<td><%= users[i].dob %></td>
												<td><%= users[i].gender %></td>
												<td><%= users[i].race %></td>
												<td><%= users[i].status %></td>
												<td><%= users[i].maritalStatus %></td>
											
												<td class="actions">
													<!-- <a href="#" class="hidden on-editing save-row"><i class="fas fa-save"></i></a>
													<a href="#" class="hidden on-editing cancel-row"><i class="fas fa-times"></i></a> -->
													<a href="/userDetails?userId=<%= users[i].userId %>" class="on-default edit-row"><i class="fas fa-pencil-alt"></i></a>
													<a href="#" class="on-default remove-row"><i class="far fa-trash-alt"></i></a>
												</td>
											</tr>																			
										</tbody>
										<% } %>
									</table>
								</div>
							</div>
						</section>
					<!-- end: page -->
				</section>
			</div>

			<!-- <aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close d-md-none">
							Collapse <i class="fas fa-chevron-right"></i>
						</a>
			
						<div class="sidebar-right-wrapper">
			
							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark"></div>
			
								<ul>
									<li>
										<time datetime="2017-04-19T00:00+00:00">04/19/2017</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>			
						</div>
					</div>
				</div>
			</aside> -->
		</section>

		<div id="dialog" class="modal-block mfp-hide">
			<section class="card">
				<header class="card-header">
					<h2 class="card-title">Are you sure?</h2>
				</header>
				<div class="card-body">
					<div class="modal-wrapper">
						<div class="modal-text">
							<p>Are you sure that you want to delete this row?</p>
						</div>
					</div>
				</div>
				<footer class="card-footer">
					<div class="row">
						<div class="col-md-12 text-right">
							<button id="dialogConfirm" class="btn btn-primary">Confirm</button>
							<button id="dialogCancel" class="btn btn-default">Cancel</button>
						</div>
					</div>
				</footer>
			</section>
		</div>

		<!-- Vendor -->
		<script src="vendor/jquery/jquery.js"></script>
		<script src="vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="vendor/popper/umd/popper.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.js"></script>
		<script src="vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="vendor/common/common.js"></script>
		<script src="vendor/nanoscroller/nanoscroller.js"></script>
		<script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
		<script src="vendor/jquery-placeholder/jquery.placeholder.js"></script>
		
		<!-- Specific Page Vendor -->
		<script src="vendor/select2/js/select2.js"></script>
		<script src="vendor/datatables/media/js/jquery.dataTables.min.js"></script>
		<script src="vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="js/theme.js"></script>
		
		<!-- Theme Custom -->
		<script src="js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="js/theme.init.js"></script>

		<!-- Examples -->
		<script src="js/examples/examples.datatables.editable.js"></script>
	</body>
</html>