
<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Voucher </title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="vendor/animate/animate.css">

		<link rel="stylesheet" href="vendor/font-awesome/css/all.min.css" />
		<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="vendor/select2/css/select2.css" />
		<link rel="stylesheet" href="vendor/select2-bootstrap-theme/select2-bootstrap.min.css" />
		<link rel="stylesheet" href="vendor/datatables/media/css/dataTables.bootstrap4.css" />
		<link rel="stylesheet" href="vendor/summernote/summernote-bs4.css" />


		<!-- Theme CSS -->
		<link rel="stylesheet" href="css/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="css/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="css/custom.css">

		<!-- Head Libs -->
		<script src="vendor/modernizr/modernizr.js"></script>
		
		<style>
			table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			border: 1px solid #ddd;
			}
			
			th, td {
			text-align: left;
			padding: 8px;
			}	
			tr:nth-child(even){
				background-color: #a58383
			}
			img{
				max-width:180px;
				}
				input[type=file]{
				padding:10px;
				background:#2d2d2d;
			}
			.note-group-select-from-files {
				display: none;
			}
		</style>
	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="/dashboard" class="logo">
						<img src="img/snj_logo.png" width="100" height="35" alt="Porto Admin" />
					</a>
					<div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fas fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">
			
					
			
					<span class="separator"></span>
			
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="img/!logged-user.jpg" alt="Joseph Doe" class="rounded-circle" data-lock-picture="img/!logged-user.jpg" />
							</figure>
							<div class="profile-info" data-lock-name="admin" data-lock-email="admin@epnox.com">
								<span class="name"><%= admin.name %></span>
								<span class="role"><%= admin.level %></span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled mb-2">
								<li class="divider"></li>
								<li>
									<!-- <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fas fa-user"></i> My Profile</a> -->
								</li>
								<li>
									<!-- <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fas fa-lock"></i> Lock Screen</a> -->
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="/logout"><i class="fas fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
				    <div class="sidebar-header">
				        <div class="sidebar-title">
				            Navigation
				        </div>
				        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
				            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
				        </div>
				    </div>
				
				    <div class="nano">
							<div class="nano-content">
								<nav id="menu" class="nav-main" role="navigation">
								
									<ul class="nav nav-main">
										<li>
											<a class="nav-link" href="/dashboard">
												<i class="fas fa-home" aria-hidden="true"></i>
												<span>Dashboard</span>
											</a>                        
                                        </li>
                                        
										<li class="">
											<a class="nav-link" href="/admin">
												<i class="fas fa-chalkboard-teacher" aria-hidden="true"></i>
												<span>Admin</span>
											</a>										
                                        </li>
                                        
										<li class="">
											<a class="nav-link" href="/news">
												<i class="fas fa-copy" aria-hidden="true"></i>
												<span>News</span>
											</a>
										</li>
											
										<li class="">
											<a class="nav-link" href="/user">
												<i class="fas fa-user" aria-hidden="true"></i>
												<span>Users</span>
											</a>											
                                        </li>
                                        
										<li class="">
											<a class="nav-link" href="/pointHistory">
												<i class="fas fa-coins" aria-hidden="true"></i>
												<span>Point history</span>
											</a>
										</li>
											
										<li class="nav-active">
											<a class="nav-link" href="/voucher">
												<i class="fas fa-dollar-sign" aria-hidden="true"></i>
												<span>Vouchers</span>
                                            </a>
										</li>
				                    
										<li class="">
											<a class="nav-link" href="/setup">
												<i class="fas fa-cog" aria-hidden="true"></i>
												<span>Setup</span>
											</a>
										</li> 
											
									</ul>
								</nav>
					
							</div>
					
							<script>
								// Maintain Scroll Position
								if (typeof localStorage !== 'undefined') {
									if (localStorage.getItem('sidebar-left-position') !== null) {
										var initialPosition = localStorage.getItem('sidebar-left-position'),
											sidebarLeft = document.querySelector('#sidebar-left .nano-content');
										
										sidebarLeft.scrollTop = initialPosition;
									}
								}
							</script>
							
					
						</div>
				
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body">
					<header class="page-header">
						<h2>Vouchers </h2>
					
						<div class="right-wrapper text-right">
							<ol class="breadcrumbs">
								<li>
									<a href="/dashboard">
										<i class="fas fa-home"></i>
									</a>
								</li>
								<li><span>Vouchers</span></li>
								<li><span>Vouchers</span></li>
							</ol>
					
							<!-- <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a> -->
						</div>
					</header>

					<!-- start: page -->
                    <div class="row">
                        <div class="col">
                            <section class="card">
                                <header class="card-header">
                                    <div class="card-actions">
                                        <!-- <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a> -->
                                    </div>
                    
                                    <h2 class="card-title">Voucher</h2>
                                </header>
                                <div class="card-body">
                                    <form class="form-horizontal form-bordered" action="/addVoucher" method="post" enctype="multipart/form-data">

                                        <div class="form-group row">
                                            <label class="col-lg-3 control-label text-lg-right pt-2" for="codes">Codes</label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" name="codes" id="codes" value="" placeholder="Enter code with(,) for more than one code (e.g. : code1,code2)">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                                <label class="col-lg-3 control-label text-lg-right pt-2" for="title">Title</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" name="title" id="title" value="">
                                                </div>
                                        </div>

                                        <div class="form-group row">
                                                <label class="col-lg-3 control-label text-lg-right pt-2" for="subtitle">Subtitle</label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="subtitle" name="subtitle" value="">
                                                </div>
                                        </div>
					
                                        <div class="form-group row">
                                                <label class="col-lg-3 control-label text-lg-right pt-2" for="content">Content</label>
                                                <div class="col-lg-6">
                                                    <textarea class="summernote" name="content" data-plugin-summernote data-plugin-options='{ "height": 180, "codemirror": { "theme": "ambiance" } }'></textarea>
                                                </div>
                                        </div>
        
                                        <div class="form-group row">
                                            <label class="col-lg-3 control-label text-lg-right pt-2" for="cost">Cost</label>
                                            <div class="col-lg-6">
                                                <input class="form-control" id="cost" name="cost" type="number" value="">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                                <label class="col-lg-3 control-label text-lg-right pt-2" for="status">Status</label>
                                                <div class="col-lg-6">
													<input type="radio" name="status" value="active">Active <br>
													<input type="radio" name="status" value="not-active">Not Active
                                                </div>
                                        </div>
									
                                        <div class="form-group row">
                                            <label class="col-lg-3 control-label text-lg-right pt-2" for="expiredAt">Expired At</label>
                                            <div class="col-lg-6">
                                                <input type="datetime-local" class="form-control" name="expiredAt" value="">
                                            </div>
                                        </div>
												
                                        <div class="form-group row">
                                            <label class="col-lg-3 control-label text-lg-right pt-2" for="sortOrder">Sort Order</label>
                                            <div class="col-lg-6">
                                                <input type="number" class="form-control" name="sortOrder" value="0">
                                            </div>
                                        </div>         												
												
										<div class="form-group row">
											<label class="col-lg-3 control-label text-lg-right pt-2">Image</label>
											<div class="col-lg-6">
												<img id="image" src="" />
												<div class="fileupload fileupload-new" data-provides="fileupload">
													<div class="input-append">
														<div class="uneditable-input">
															<i class="fas fa-file fileupload-exists"></i>
															<span class="fileupload-preview"></span>
														</div>
														<span class="btn btn-default btn-file">
															<span class="fileupload-exists">Change</span>
															<span class="fileupload-new">Select file</span>
															<input type="file" onchange='readURL(this);' name="image" required/>
														</span>
														<!-- <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a> -->
													</div>
												</div>
											</div>
										</div>  
                                            
                    
                                        <br>
                                        <div class="button" style="text-align: center">
                                            <input type="submit" class="btn btn-primary" name="submit">
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>                  
            
                <!-- end: page -->
				</section>
			</div>

			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close d-md-none">
							Collapse <i class="fas fa-chevron-right"></i>
						</a>
			
						<div class="sidebar-right-wrapper">
			
							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark"></div>
			
								<ul>
									<li>
										<time datetime="2017-04-19T00:00+00:00">04/19/2017</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>
			
							<!-- <div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div> -->
			
						</div>
					</div>
				</div>
			</aside>
		</section>

		<div id="dialog" class="modal-block mfp-hide">
			<section class="card">
				<header class="card-header">
					<h2 class="card-title">Are you sure?</h2>
				</header>
				<div class="card-body">
					<div class="modal-wrapper">
						<div class="modal-text">
							<p>Are you sure that you want to delete this row?</p>
						</div>
					</div>
				</div>
				<footer class="card-footer">
					<div class="row">
						<div class="col-md-12 text-right">
							<button id="dialogConfirm" class="btn btn-primary">Confirm</button>
							<button id="dialogCancel" class="btn btn-default">Cancel</button>
						</div>
					</div>
				</footer>
			</section>
		</div>

		<!-- Vendor -->
		<script src="vendor/jquery/jquery.js"></script>
		<script src="vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="vendor/popper/umd/popper.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.js"></script>
		<script src="vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="vendor/common/common.js"></script>
		<script src="vendor/nanoscroller/nanoscroller.js"></script>
		<script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
		<script src="vendor/jquery-placeholder/jquery.placeholder.js"></script>
		
		<!-- Specific Page Vendor -->
		<script src="vendor/select2/js/select2.js"></script>
		<script src="vendor/datatables/media/js/jquery.dataTables.min.js"></script>
		<script src="vendor/datatables/media/js/dataTables.bootstrap4.min.js"></script>
		<script src="vendor/summernote/summernote-bs4.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="js/theme.js"></script>
		
		<!-- Theme Custom -->
		<script src="js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="js/theme.init.js"></script>

		<!-- Examples -->
		<script src="js/examples/examples.datatables.editable.js"></script>
	</body>
</html>
<script>
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function(e) {
			$("#image").attr("src", e.target.result);
			};

			reader.readAsDataURL(input.files[0]);
		}
	}
</script>