
<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>Dashboard</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="Porto Admin - Responsive HTML5 Template">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="vendor/animate/animate.css">

		<link rel="stylesheet" href="vendor/font-awesome/css/all.min.css" />
		<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" />
		<link rel="stylesheet" href="vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="css/theme.css" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="css/skins/default.css" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="css/custom.css">

		<!-- Head Libs -->
		<script src="vendor/modernizr/modernizr.js"></script>

		<style>
		html .bg-primary, html .background-color-primary {
			background-color: #F7931E !important;
		}
		html .card-featured-primary {
			border-color: #F7931E;
		}
		a:active {
			color: #F7931E;
		}
		</style>

	</head>
	<body>
		<section class="body">

			<!-- start: header -->
			<header class="header">
				<div class="logo-container">
					<a href="/dashboard" class="logo">
						<img src="img/snj_logo.png" width="100" height="35" alt="Porto Admin" />
					</a>
					<div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fas fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">
			
					
			
					<span class="separator"></span>
			
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="img/!logged-user.jpg" alt="Joseph Doe" class="rounded-circle" data-lock-picture="img/!logged-user.jpg" />
							</figure>
							<div class="profile-info" data-lock-name="admin" data-lock-email="admin@epnox.com">
								<span class="name"><%= admin.name %></span>
								<span class="role"><%= admin.level %></span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled mb-2">
								<li class="divider"></li>
								<li>
									<!-- <a role="menuitem" tabindex="-1" href="pages-user-profile.html"><i class="fas fa-user"></i> My Profile</a> -->
								</li>
								<li>
									<!-- <a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fas fa-lock"></i> Lock Screen</a> -->
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="/logout"><i class="fas fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->

			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
				    <div class="sidebar-header">
				        <div class="sidebar-title">
				            Navigation
				        </div>
				        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
				            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
				        </div>
				    </div>
				
				    <div class="nano">
				        <div class="nano-content">
				            <nav id="menu" class="nav-main" role="navigation">
				            
				                <ul class="nav nav-main">
				                    <li class=" nav-active">
				                        <a class="nav-link" href="/dashboard">
				                            <i class="fas fa-home" aria-hidden="true"></i>
				                            <span>Dashboard</span>
				                        </a>                        
									</li>
									
				                    <li class="">
				                        <a class="nav-link" href="/admin">
				                            <i class="fas fa-chalkboard-teacher" aria-hidden="true"></i>
				                            <span>Admin</span>
				                        </a>				                        
									</li>
									
				                    <li class=" ">
				                        <a class="nav-link" href="/news">
				                            <i class="fas fa-copy" aria-hidden="true"></i>
				                            <span>News</span>
				                        </a>				                        
									</li>
				                        
				                    <li class=" ">
				                        <a class="nav-link" href="/user">
				                            <i class="fas fa-user" aria-hidden="true"></i>
				                            <span>Users</span>
				                        </a>				                        
									</li>
									
				                    <li class="">
				                        <a class="nav-link" href="/pointHistory">
				                            <i class="fas fa-coins" aria-hidden="true"></i>
				                            <span>Point history</span>
				                        </a>
				                        
				                    </li>
				                    
				                    <li class="">
				                        <a class="nav-link" href="/voucher">
				                            <i class="fas fa-dollar-sign" aria-hidden="true"></i>
				                            <span>Vouchers</span>
				                        </a>
				                    </li>   
				                    
				                    <li class="">
				                        <a class="nav-link" href="/setup">
				                            <i class="fas fa-cog" aria-hidden="true"></i>
				                            <span>Setup</span>
				                        </a>
				                    </li>   
				
				                </ul>
				            </nav>
				

				
				        </div>
				
				        <script>
				            // Maintain Scroll Position
				            if (typeof localStorage !== 'undefined') {
				                if (localStorage.getItem('sidebar-left-position') !== null) {
				                    var initialPosition = localStorage.getItem('sidebar-left-position'),
				                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');
				                    
				                    sidebarLeft.scrollTop = initialPosition;
				                }
				            }
				        </script>
				        
				
				    </div>
				
				</aside>
				<!-- end: sidebar -->

				<section role="main" class="content-body card-margin">
					<header class="page-header">
						<h2>Dashboard</h2>
					
						<div class="right-wrapper text-right">
							<ol class="breadcrumbs">
								<li>
									<a href="/dashboard">
										<i class="fas fa-home"></i>
									</a>
								</li>
								<li><span>Dashboard </span></li>
								<li><span>Dashboard </span></li>
							</ol>
					
							<!-- <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a> -->
						</div>
					</header>

					<!-- start: page -->
						<div class="col-lg-12">
							<div class="row mb-3">
								<div class="col-xl-4">
									<section class="card card-featured-left card-featured-primary mb-3">
										<a href="/dashboard">
											<div class="card-body">
												<div class="widget-summary">
													<div class="widget-summary-col widget-summary-col-icon">
														<div class="summary-icon bg-primary">
															<i class="fas fa-home"></i>
														</div>
													</div>
													<div class="widget-summary-col">
														<div class="summary">
															<div class="info">
																<strong class="amount">Dashboard</strong>
															</div>
														</div>
													</div>
												</div>
											</div>
										</a>
									</section>
								</div>
								<div class="col-xl-4">
									<section class="card card-featured-left card-featured-primary mb-3">
										<a href="/admin">
											<div class="card-body">
												<div class="widget-summary">
													<div class="widget-summary-col widget-summary-col-icon">
														<div class="summary-icon bg-primary">
															<i class="fas fa-chalkboard-teacher"></i>
														</div>
													</div>
													<div class="widget-summary-col">
														<div class="summary">
															<div class="info">
																<strong class="amount">Admin</strong>
															</div>
														</div>
													</div>
												</div>
											</div>
										</a>
									</section>
								</div>
								<div class="col-xl-4">
									<section class="card card-featured-left card-featured-primary mb-3">
										<a href="/news">
											<div class="card-body">
												<div class="widget-summary">
													<div class="widget-summary-col widget-summary-col-icon">
														<div class="summary-icon bg-primary">
															<i class="fas fa-copy"></i>
														</div>
													</div>
													<div class="widget-summary-col">
														<div class="summary">
															<div class="info">
																<strong class="amount">News</strong>
															</div>
														</div>
													</div>
												</div>
											</div>
										</a>
									</section>
								</div>
							</div>
							<div class="row">
									<div class="col-xl-4">
										<section class="card card-featured-left card-featured-primary mb-3">
											<a href="/user">
												<div class="card-body">
													<div class="widget-summary">
														<div class="widget-summary-col widget-summary-col-icon">
															<div class="summary-icon bg-primary">
																<i class="fas fa-user"></i>
															</div>
														</div>
														<div class="widget-summary-col">
															<div class="summary">
																<div class="info">
																	<strong class="amount">Users</strong>
																</div>
															</div>
														</div>
													</div>
												</div>
											</a>
										</section>
									</div>
									<div class="col-xl-4">
										<section class="card card-featured-left card-featured-primary mb-3">
											<a href="/pointHistory">
												<div class="card-body">
													<div class="widget-summary">
														<div class="widget-summary-col widget-summary-col-icon">
															<div class="summary-icon bg-primary">
																<i class="fas fa-coins"></i>
															</div>
														</div>
														<div class="widget-summary-col">
															<div class="summary">
																<div class="info">
																	<strong class="amount">Point<br>History</strong>
																</div>
															</div>
														</div>
													</div>
												</div>
											</a>
										</section>
									</div>
									<div class="col-xl-4">
										<section class="card card-featured-left card-featured-primary mb-3">
											<a href="/voucher">
												<div class="card-body">
													<div class="widget-summary">
														<div class="widget-summary-col widget-summary-col-icon">
															<div class="summary-icon bg-primary">
																<i class="fas fa-dollar-sign"></i>
															</div>
														</div>
														<div class="widget-summary-col">
															<div class="summary">
																<div class="info">
																	<strong class="amount">Vouchers</strong>
																</div>
															</div>
														</div>
													</div>
												</div>
											</a>
										</section>
									</div>
							</div>
						</div>
					<!-- end: page -->

					
				</section>
			</div>
			
			<aside id="sidebar-right" class="sidebar-right">
				<div class="nano">
					<div class="nano-content">
						<a href="#" class="mobile-close d-md-none">
							Collapse <i class="fas fa-chevron-right"></i>
						</a>
			
						<div class="sidebar-right-wrapper">
			
							<div class="sidebar-widget widget-calendar">
								<h6>Upcoming Tasks</h6>
								<div data-plugin-datepicker data-plugin-skin="dark"></div>
			
								<ul>
									<li>
										<time datetime="2017-04-19T00:00+00:00">04/19/2017</time>
										<span>Company Meeting</span>
									</li>
								</ul>
							</div>
			
							<!-- <div class="sidebar-widget widget-friends">
								<h6>Friends</h6>
								<ul>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-online">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
									<li class="status-offline">
										<figure class="profile-picture">
											<img src="img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
										</figure>
										<div class="profile-info">
											<span class="name">Joseph Doe Junior</span>
											<span class="title">Hey, how are you?</span>
										</div>
									</li>
								</ul>
							</div> -->
			
						</div>
					</div>
				</div>
			</aside>
		</section>

		<!-- Vendor -->
		<script src="vendor/jquery/jquery.js"></script>
		<script src="vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="vendor/popper/umd/popper.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.js"></script>
		<script src="vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="vendor/common/common.js"></script>
		<script src="vendor/nanoscroller/nanoscroller.js"></script>
		<script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
		<script src="vendor/jquery-placeholder/jquery.placeholder.js"></script>
		
		<!-- Specific Page Vendor -->
		<script src="vendor/autosize/autosize.js"></script>
		<script src="vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="js/theme.js"></script>
		
		<!-- Theme Custom -->
		<script src="js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="js/theme.init.js"></script>

	</body>
</html>